div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}
div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}
div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}
div.sq-login-box div.img-box img {
    width: 100%;
}

div.container {
    display: inline-grid;
    grid-template-columns: 350px 350px 700px;
    grid-template-rows: 320px 320px 1fr;
    gap: 10px 10px;
    margin: 10px;
    text-align: center;
}

div.item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #ffcbcb;
    padding: 20px;
    border-radius: 10px;
}

div.item:nth-child(2) {
    background-color: #ffcbcb;
    padding: 20px;
    border-radius: 10px;
}

div.item:nth-child(3) {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    background-color: #ffcbcb;
    padding: 20px;
    border-radius: 10px;
}

div.item:nth-child(4) {
    grid-column: 3/ 4;
    text-align: right;
}

div.title {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

div.dd {
    display: inline;
}

div.text {
    text-align: center;
    margin-bottom: 5px;
}

div.contents-center {
    text-align: center;
}

span.new {
    background-color: #ac0c0c;
    font-weight: bolder;
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 10px;
}

