<template>
    <div class="container">
        <div class="item" v-if="ingredientCount != null">
            <div class="title"><h1>재료 모으기</h1></div>
            <div>재료 개수 : {{ ingredientCount | currency }}개</div>
            <div><img src="../static/images/ingredient.png" alt="재료 모으기"/></div>
            <el-button plain @click.native="getIngredient()">재료 모으기</el-button>
        </div>
        <div class="item">
            <div class="title"><h1>간식 만들기</h1></div>
            <div>
                <el-col :span="12">
                    <div><img src="../static/images/food1.png" alt="부스러기 뽑기"/></div>
                    <div>
                        <el-button plain @click.native="chooseCrumbs()">간식 부스러기 (5,000)</el-button>
                    </div>
                </el-col>
            </div>
            <div>
                <div><img src="../static/images/food2.jpg" alt="푸짐한상 뽑기"/></div>
                <div>
                    <el-button plain @click.native="chooseBig()">푸짐한상 (25,000)</el-button>
                </div>
            </div>
        </div>
        <div class="item" v-if="havePuppyItems.length > 0">
            <div class="title"><h1>내가 만난 강아지들</h1></div>
            <el-row :gutter="20">
                <el-col :span="4" v-for="(item, index) in havePuppyItems" v-bind:key="index">
                    <div class="mb-1" v-if="item.puppyCount > 0">
                        <div><img :src="'/images/' + item.imageName" alt="item.puppyName"/></div>
                        <div>
                            <el-badge :value="item.ratingName" :type="badgeColor(item.rating)">
                                {{ item.puppyName }}&nbsp;&nbsp;&nbsp;
                            </el-badge>
                        </div>
                        <div>{{ item.puppyCount }}번 만남</div>
                    </div>
                    <div v-else class="text">
                        <div><img src="../static/images/box.png" alt="정보 없음"></div>
                        <div>
                            <el-badge value="뭘까요?" type="info">
                                모르는 강아지&nbsp;&nbsp;&nbsp;
                            </el-badge>
                        </div>
                        <div>만난 적 없음</div>
                    </div>
                </el-col>
            </el-row>
        </div>

        <div class="item">
            <el-button type="danger" plain @click="gameReset()">리셋하기</el-button>
        </div>

        <el-dialog
            title="내가 만난 강아지는?" :visible.sync="puppyDialogVisible" width="30%" :before-close="handleClose">
            <div class="contents-center" v-if="currentItem != null">
                <div>축하합니다!</div>
                <div><img :src="'/images/' + currentItem.imageName" alt="currentItem.puppyName"/></div>
                <div>{{ currentItem.ratingName }}</div>
                <div>{{ currentItem.puppyName }}</div>
                <div class="mt-2" v-if="currentItem.isNew"><span class="new">new!</span></div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="puppyDialogVisible = false">확인</el-button>
            </span>
        </el-dialog>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ingredientCount: null,
            havePuppyItems: [],
            puppyDialogVisible: false,
            currentItem: null
        }
    },
    methods: {
        badgeColor(ratingValue) {
            let result = '' // 결과값 들어갈 변수 먼저 생성

            switch (ratingValue) { // switch문을 이용해 값을 넣어준다. 이렇게 값이 많을 경우에는 if보다 switch가 가독성이 좋다.
                case 'RARE':
                    result = 'success'
                    break
                case 'UNIQUE':
                    result = 'primary'
                    break
                case 'EPIC':
                    result = 'danger'
                    break
                case 'LEGENDARY':
                    result = 'warning'
                    break
                default:
                    result = 'info'
            }

            return result; // 결과값 돌려주기
        },
        getFirstData() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_FIRST_DATA)
                .then((res) => {
                    this.ingredientCount = res.data.data.ingredientResponse.ingredientCount
                    this.havePuppyItems = res.data.data.havePuppyItems
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        getIngredient() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_PLUS_INGREDIENT)
                .then((res) => {
                    this.ingredientCount = res.data.data.ingredientCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        chooseCrumbs() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_CHOOSE_CRUMBS)
                .then((res) => {
                    this.ingredientCount = res.data.data.ingredientResponse.ingredientCount
                    this.havePuppyItems = res.data.data.havePuppyItems
                    this.currentItem = res.data.data.currentItem
                    this.puppyDialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        chooseBig() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_CHOOSE_BIG)
                .then((res) => {
                    this.ingredientCount = res.data.data.ingredientResponse.ingredientCount
                    this.havePuppyItems = res.data.data.havePuppyItems
                    this.currentItem = res.data.data.currentItem
                    this.puppyDialogVisible = true
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        gameReset() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$gameApiConstants.DO_GAME_RESET)
                .then((res) => {
                    this.getFirstData()
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getFirstData()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
